
body {
	text-align: center;
    font-family: 'Montserrat', Helvetica, sans-serif;
	background: linear-gradient(#faaca8, #ddd6f3);
	background-repeat: no-repeat;
	background-size: 100% 105%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.bg {
	filter: blur(8px);
}

.wrapper {
	border-radius: 10px; 
	width: 40%;
	height: 500px;
	background-color: white;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.wrapper:hover {
	box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
	transform: scale(0.99);
  }

header {
	background-color: #FA948E ;
	border-radius: 10px 10px 0 0 ;
	height: 65px;
	
}
h1 {
	color: #3D3232;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 0;
	padding-top: 14px;
}

h2 {
    font-weight: 600;
    /* color: lightyellow; */
}



main > input {
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border: none;
	position: relative;
	top: 390px;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

main > input:hover {
	cursor: pointer;
}

.enter {
	border: none;
	padding: 5px 15px;
	border-radius: 10px;
	color: #3D3232;
	background-color: #FA948E;
	transition: all 0.75s ease;
	font-weight: normal;
	position: relative;
	top: 390px;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

.enter:hover{
	background-color: #02798F;
	color: #FFCD5D;
	cursor: pointer;
}



td {
	padding-right: 10px; 
	font-weight: 800;
	font-size: large;
	color: #3D3232;
	padding-bottom: 15px;

}

.output {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='checkbox'] { 
	cursor: pointer;
 }